@import url('http://fonts.googleapis.com/css?family=Montserrat|Lora|Amatic+SC');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body {
	margin-top: 2rem;
	background: #111;
	color: $flat-gray-1;
	font-family: $font-primary;
	margin: 0;
	overflow-x: hidden;
}

.container {
	// margin: 0 auto;
	width: 100%;
}

.main {
	position: relative;
	top: 100vh;
	text-align: center;
	width: 100%;
	z-index: 40;
}

.quote {
	font-family: $font-hand;
	font-size: 3rem;
	color: $flat-yellow-1;
	// background-attachment: fixed;
	height: 33vh;
	background: none;
}

.grandmother {
	background-image: linear-gradient(rgba(41, 33, 2, 0.5), rgba(82, 66, 2, 0.8)), url("../media/grandmother_village-min-1920.JPG");
	@include background-size();
	background-position: center center;
	position: fixed;
	top: 0px;
	height: 100vh;
	width: 100vw;
	z-index: 0;
}

section {
	padding: 20px; 
}

h1 {
	font-family: $font-primary;
	font-size: 6rem;

	@include breakpoint(small only) {
		font-size: 15vmin;
	}
}

h2 {
	font-family: $font-primary;
	font-size: 1.5rem;	
	letter-spacing: 0.5rem;
}

h3 {
	font-family: $font-primary;
	font-size: 1rem;
}

h5 {
	font-family: $font-primary;
	font-size: 0.8rem;
}

p {
	color: $flat-gray-1;
}

.section-content {
	// margin: 20px auto;
	padding: 40px;
	height: 100%;
	// @include vertical-align();
}


#about {
	background-color: $light-blue-gray;
	width: 100%;

	h2 {
		color: #2c3e50;
		margin-bottom: 20px;
	}

	h3 {
		color: #34495e;
		font-size: 1.2rem;
	}

	p {
		color: $lynch-gray;
	}
}

#more-info {
	@include full-screen();
	// background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3)), url("../media/ox_pulling_cart-min-blur-1920.JPG");
	background-image: linear-gradient(rgba(0, 10, 21, 0.55), rgba(0, 21, 42, 0.35)), url("../media/ox_pulling_cart-min-blur-1920.JPG");
	@include background-size();
	background-position: center center;
}

#prizes {
	@include full-screen();
	background-image: linear-gradient(rgba(0, 10, 21, 0.75), rgba(0, 21, 42, 0.55)), url("../media/boy_in_village-1920.JPG");
	@include background-size();
	background-position: center center;
}

.prize-tile {
	ul{
		li{
			list-style-type: none;
		}
	}
}

#trailer {
	@include full-screen();
	background-image: linear-gradient(rgba(41, 33, 2, 0.5), rgba(82, 66, 2, 0.8)), url("../media/seeds_blurred-1920.JPG");
	@include background-size();
	background-position: center center;

}

#judges {
	@include full-screen();
	background-image: linear-gradient(rgba(41, 33, 2, 0.5), rgba(82, 66, 2, 0.8)), url("../media/boy_running-1920.JPG");
	@include background-size();
	background-position: center center;
}

#hosts {
	height: 33vh;
	// background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
	background: $light-blue-gray;

	h2 {
		color: $flat-blue-4;
	}
}

#contact {
	@include pinot-noir-gradient();
	height: 600px;

	h2 {
		color: $flat-gray-1;
	}

	.subtitle {
		p {
			color: $light-blue-gray;
			font-size: 18px;
			letter-spacing: 0px;
		}
	}

	p {
		color: $flat-gray-3;
		margin: 10px 0;

		i {
			margin: 20px 30px;
		}
	}

}

footer {
	height: 100px;
	background-color: rgba(12, 20, 36, 1);
	color: $flat-gray-1;
	font-family: $font-primary;
}

// For the caret.
.signal-container {
	position: absolute;
	top: 85vh;
	left: 50vw;

	z-index: 55;
}

.signal-down {
	position: relative;
	opacity: 0;
	color: $white;
	cursor: pointer;

	animation-delay: 4s;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-name: fadein;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	@keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 0.8;
			top: 15px;
		}
	}

	@include breakpoint(small only) {
		font-size: 2rem;
	}
}

#particles-bg {
	background-image: linear-gradient(rgba(0, 21, 42, 0.85), rgba(0, 21, 42, 0.65)), url('../media/slum-min-1920.JPG');
	@include full-screen();
	@include background-size();
	background-position: center center;
	position: absolute;
	top: 0;
}

// Particle effect CSS.
#particles {
	@include full-screen();
	overflow: hidden;
	// background-image: linear-gradient(rgba(0, 21, 42, 0.85), rgba(0, 21, 42, 0.65)), url('../media/barbed_wire-min-1920.JPG');
	background: none;
	position: absolute;
	top: 0;

	opacity: 0;

	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-name: fadein;

	@keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
}

#splash {
	@include full-screen();
	margin: 0 auto;
	z-index: 50;
	position: absolute;
	top: 0;
	color: $white;

	// background-attachment: fixed;

	h1 {
		opacity: 0;
		margin-bottom: -1rem;
		letter-spacing: -1rem;

		position: relative;
		// top: -35px;

		animation-delay: 1.5s;
		animation-duration: 3s;
		animation-fill-mode: forwards;
		animation-name: fadein, spread;
	}	

	.subtitle {
		font-family: $font-primary;
		font-size: 1rem;
		letter-spacing: 0.5rem;
		opacity: 0;
		position: relative;

		animation-delay: 2s;
		animation-duration: 3.5s;
		animation-fill-mode: forwards;
		animation-name: fadein, spread-wide;

		@include breakpoint(small only) {
			font-size: 3vmin;
			letter-spacing: 2vmin;
			top: -8px;
		}
	}

	@keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
			top: 0px;
		}
	}

	@keyframes spread {
		from {
			letter-spacing: -1rem;
		}

		to {
			letter-spacing: 0rem;
		}
	}

	@keyframes spread-wide {
		from {
			letter-spacing: 0.5rem;
		}

		to {
			letter-spacing: 1rem;
		}
	}
	
}

// Class styles for convenience.
.horizontal-align {
	@include horizontal-align();
}

.vertical-align {
	@include vertical-align();
}

.grayscale {
    @include grayscale_element(100%);
    transition: all 200ms ease-in-out;
    &:hover {
        @include grayscale_element(0);
    }
}

// Responsive navigation bar CSS.
// Citation: https://zurb.com/expo/lessons/how-to-re-create-top-bar-with-foundation-6

.menu {
	ul {
		.active {
			color: $flat-orange-2;
		}
	}
}

.top-bar, .title-bar{
	@include transition(0.5s);
}

.large {
	font-size: 16px;
	padding: 0.7rem;

	.menu-text {
		height: 2rem; 
		width: auto;
		//@include vertical-align();
		margin-left: 10px;
	}
}

.small {
	font-size: 14px;
	padding: 0.25rem;

	.menu-text {
		height: 1.5rem;
		width: auto;
		//@include vertical-align();
		margin-left: 10px;
	}
}

.title-bar {
  // background: $menu-background;
  // background: rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.5);
  padding: 0.9rem;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 1000;
}

.top-bar {
  // background: $menu-background;
  // background: none;
  // background: rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 1000;
  
  ul {
    // background: $menu-background;
	  background: none;
	  // background: rgba(255, 255, 255, 0.2);
  
    li {
      // background: $menu-background;
	  // background: rgba(0, 0, 0, 0.3);
	  // background: rgba(255, 255, 255, 0.2);
    
        a {
          color: #fff;
		}

        a.active {
			color: $flat-orange-2;
        }
     }
   }
}

.menu-text {
  color: #fff;
  
  @media only screen and (max-width: 40em) {
    display: none !important;
  }
}

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: 1px solid #4e4e4e;
  }

  .menu:first-child {
    border-left: none;
  }

  .menu {
    li:not(:last-child) {
      border-right: 1px solid #4e4e4e;
    }
  }
}

.dropdown.menu .submenu {
  border: none;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
  border-color: #fff transparent transparent;
}

.is-drilldown-submenu-parent>a::after {
  border-color: transparent transparent transparent #fff;
}

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent;
}

