@import url('http://fonts.googleapis.com/css?family=Montserrat|Lora|Amatic+SC');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body {
	margin-top: 2rem;
	background: #111;
	color: $flat-gray-1;
	font-family: $font-primary;
	margin: 0;
	overflow-x: hidden;
}

.container {
	// margin: 0 auto;
	width: 100%;
}

.main {
	position: relative;
	top: 100vh;
	text-align: center;
	width: 100%;
}

.quote {
	font-family: $font-hand;
	font-size: 3rem;
	color: $flat-yellow-1;
	background-image: linear-gradient(rgba(41, 33, 2, 0.5), rgba(82, 66, 2, 0.8)), url("../media/grandmother_village-min.JPG");
	@include background-size();
	background-position: center center;
	// background-attachment: fixed;
	height: 33vh;
}

section {
	padding: 20px; 
}

h1 {
	font-family: $font-primary;
	font-size: 6rem;

	@include breakpoint(small only) {
		font-size: 15vmin;
	}
}

h2 {
	font-family: $font-primary;
	font-size: 1.5rem;	
	letter-spacing: 0.5rem;
}

h3 {
	font-family: $font-primary;
	font-size: 1rem;
}

h5 {
	font-family: $font-primary;
	font-size: 0.8rem;
}

p {
	color: $flat-gray-1;
}

.section-content {
	// margin: 20px auto;
	padding: 40px;
	height: 100%;
	// @include vertical-align();
}

.subtitle {
	font-family: $font-primary;
	position: relative;
	top: -13px;
	font-size: 1rem;
	letter-spacing: 1rem;

	@include breakpoint(small only) {
		font-size: 3vmin;
		letter-spacing: 2vmin;
		top: -8px;
	}
}

.about {
	background-color: $light-blue-gray;
	width: 100%;

	h2 {
		color: #2c3e50;
		margin-bottom: 20px;
	}

	h3 {
		color: #34495e;
		font-size: 1.2rem;
	}

	p {
		color: $lynch-gray;
	}
}

.more-info {
	@include full-screen();
	// background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3)), url("../media/ox_pulling_cart-min-blur.JPG");
	background-image: linear-gradient(rgba(0, 10, 21, 0.55), rgba(0, 21, 42, 0.35)), url("../media/ox_pulling_cart-min-blur.JPG");
	@include background-size();
	background-position: center center;
}

// Particle effect CSS.
#particles {
	@include full-screen();
	overflow: hidden;
	// background-image: linear-gradient(rgba(0, 21, 42, 0.85), rgba(0, 21, 42, 0.65)), url('../media/barbed_wire-min.JPG');
	background-image: linear-gradient(rgba(0, 21, 42, 0.85), rgba(0, 21, 42, 0.65)), url('../media/slum-min.JPG');
	@include background-size();
	background-position: center center;
	// background-attachment: fixed;
	position: absolute;
	top: 0;
}

#splash {
	@include full-screen();
	margin: 0 auto;
	z-index: 50;
	position: absolute;
	top: 0;
	color: $white;
}

.vertical-align {
	@include vertical-align();
}

// Responsive navigation bar CSS.
// Citation: https://zurb.com/expo/lessons/how-to-re-create-top-bar-with-foundation-6
.title-bar {
  // background: $menu-background;
  // background: rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.5);
  padding: 0.9rem;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 1000;
}

.top-bar {
  // background: $menu-background;
  // background: none;
  // background: rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 1000;
  
  ul {
    // background: $menu-background;
	  background: none;
	  // background: rgba(255, 255, 255, 0.2);
  
    li {
      // background: $menu-background;
	  // background: rgba(0, 0, 0, 0.3);
	  // background: rgba(255, 255, 255, 0.2);
    
        a {
          color: #fff;
      }
    }
  }
}

.menu-text {
  color: #fff;
  
  @media only screen and (max-width: 40em) {
    display: none !important;
  }
}

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: 1px solid #4e4e4e;
  }

  .menu:first-child {
    border-left: none;
  }

  .menu {
    li:not(:last-child) {
      border-right: 1px solid #4e4e4e;
    }
  }
}

.dropdown.menu .submenu {
  border: none;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
  border-color: #fff transparent transparent;
}

.is-drilldown-submenu-parent>a::after {
  border-color: transparent transparent transparent #fff;
}

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent;
}

